@import "tailwindcss";

@theme {
  /* Definición de Keyframes */
  @keyframes scroll-x {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes scroll-x-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }

  /* Definición de utilidades de animación */
  --animate-scroll-x: scroll-x 30s linear infinite;
  --animate-scroll-x-reverse: scroll-x-reverse 30s linear infinite;
}